/* styles.css */

.trash-button {
    -fx-background-color: #ff0000; /* Red background color */
    -fx-text-fill: #fff; /* White text color */
    -fx-border-color: transparent; /* Remove button border */
    -fx-padding: 10px 20px; /* Add padding for better visual */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-cursor: hand; /* Change cursor on hover */
    -fx-font-size: 16px; /* Adjust font size */
    -fx-background-image: url('https://img.icons8.com/material-outlined/24/ffffff/trash.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; /* Center the icon horizontally and position it to the left */
    -fx-background-size: 20px;
    -fx-padding-left: 30px; /* Adjust padding to make space for the icon */
}

.trash-button:hover {
    -fx-background-color: #cc0000; /* Darker red on hover */
}
